.text_login {
  font-size: 26px;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_signin {
  width: 100%;
  max-width: 520px;
  height: 380px;
  padding: 15px;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  margin-top: 10%;
}
.text_center {
  text-align: center;
}
/* INPUTS */
.input_form {
  background-color: transparent;
  border: 1.5px solid rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 90%;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 5px;
}
/* BUTTON SIGNUP */
.button_signup {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  height: 45px;
  width: 50%;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  margin: 15px auto !important;
  display: block !important;
}
